
@model StockTrade

@{
    ViewBag.Title = "Trading";
    ViewBag.CurrentUrl = "~/Trade/Index";
}

<form method="post" class="trade-form">

    <input type="hidden" name="StockSymbol" value="@Model.StockSymbol" />


    <div class="breadcrumb">
        <span>Stocks</span>
        <i class="fa-solid fa-caret-right"></i>
        <span>@Model.StockName</span>
    </div>

    <div class="trading-panel">
        <!-- Left: Stock Info -->
        <div class="stock-info-card">
            <div hidden>@Model.StockSymbol</div>
            <div class="stock-info-header">
                <h2 class="stock-name">@Model.StockName</h2>
                <span class="stock-symbol">(@Model.StockSymbol)</span>
            </div>
            <div class="stock-price-display">
                <span class="currency-symbol">$</span>
                <span id="curentPrice" class="price-value">@Model.Price</span>
            </div>
        </div>

        <!-- Right: New Order -->
            <div class="order-card">
            @if (User.Identity.IsAuthenticated)
            {
                <h3 class="section-title">
                    <i class="fa-solid fa-circle-plus"></i> New Order
                </h3>

                <label asp-for="Quantity" class="input-label">Quantity:</label>
                <input type="number" asp-for="Quantity" min="1" max="100000" required class="form-input mb" autofocus />

                <div class="button-group">
                    <button type="submit" asp-controller="Trade" asp-action="SellOrder" class="button button-red-back">
                        <i class="fa-solid fa-arrow-trend-down"></i> Sell
                    </button>
                    <button type="submit" asp-controller="Trade" asp-action="BuyOrder" class="button button-green-back">
                        <i class="fa-solid fa-arrow-trend-up"></i> Buy
                    </button>
                </div>
            }else{
                <h3 class="section-title">
                    <i class="fa-solid fa-circle-plus"></i> You need to Login to make an order
                </h3>
            }
            </div>
        
    </div>

    <input asp-for="StockSymbol" type="hidden" />
    <input asp-for="StockName" type="hidden" />
    <input asp-for="Price" type="hidden" />
    <input type="hidden" id="FinnhubToken" value="@ViewBag.FinnhubToken" />

</form>

@section Scripts {
    <script src=@Url.Content("~/Scripts/FinnhubScript.js")></script>
}


