@model StockTrade

@{
	ViewBag.Title = "Trading";
	ViewBag.CurrentUrl = "~/Trade/Index";
}

<form method="post">

	<div class="text-grey ml">
		<span>Stocks</span>
		<i class="fa-solid fa-caret-right"></i>
		<span>@Model.StockName</span>
	</div>
	<div class="flex trading-panel-flex box background-grey">
		<div class="fo mr-50">
			<div hidden>@Model.StockSymbol</div>
			<div class="flex-container">
				<div class="stock-font">@Model.StockName</div>
				<div class="stock-font">(@Model.StockSymbol)</div>
			</div>
			<h1 id="curentPrice" class="font-size-stockprice"><span class="text-grey">$</span> @Model.Price</h1>

		</div>
		<div id="new-order-panel">
			<div class="flex flex-direction-vertical"></div>
			<div class="text-grey mb">New Order</div>
			<label asp-for="Quantity" class="mt">Quantity:</label>
			<div class="w-25">
				<input type="number" asp-for="Quantity" min="1" max="100000"  required="required" class="form-input mb quantity-width" autofocus="autofocus" />
			</div>

			<button type="submit" asp-controller="Trade" asp-action="BuyOrder" class="button-red-back button mr">Sell</button>
			<button type="submit" asp-controller="Trade" asp-action="SellOrder" class="button-green-back button mr">Buy</button>

		</div>

	</div>


	<input asp-for="StockSymbol" type="hidden" />
	<input asp-for="StockName" type="hidden" />
	<input asp-for="Price" type="hidden"/>
	<input type="hidden" id="FinnhubToken" value="@ViewBag.FinnhubToken" />


</form>

@section Scripts {
	<script src=@Url.Content("~/Scripts/FinnhubScript.js")>
	</script>
}

