<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css"
		  integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg=="
		  crossorigin="anonymous"
		  referrerpolicy="no-referrer" />
	<link href="~/StyleSheet.css" rel="stylesheet" />
	<title>@ViewBag.Title</title>
</head>
<body>
	<div class="container">
		<div class="page-content">
			<div class="margin-bottom">
				<div class="flex" id="top-bar-div">
					<div class="flex-1" id="app-title-div">
						<h1 class="app-title">
							<i class="fa-solid fa-money-bill-trend-up"></i>
							Stocks
						</h1>
					</div>

					<div class="flex-1 pr" id="search-box-div">

						<input type="search" class="search-text" placeholder="Search Stocks" name="SearchText" />
						<i class="fa-solid fa-gear"></i>
						@if (User.Identity.IsAuthenticated)
						{
							<div>@User.Identity?.Name</div>
							<a asp-controller="Account" asp-action="Logout" class="button button-blue-back ml login-button">Logout</a>
						}
						else
						{
							<a asp-controller="Account" asp-action="Register" class="button button-blue-back ml login-button">Register</a>
							<a asp-controller="Account" asp-action="Login" class="button button-blue-back ml login-button">Login</a>
						}
					</div>
				</div>

			</div>



			@{
				var symbol = ViewBag.CurrentStockSymbol ?? "";
				var current = ViewBag.CurrentUrl ?? "";
			}

			<div class="navbar mb">
				<ul>

					<li>
						<a href="~/Stocks/Explore?stockSymbol=@symbol"
						   class="@(current == "~/Stocks/Explore" ? "nav-active" : "")">
							Explore
						</a>
					</li>

					<li>
						<a href="~/Trade/Index?stockSymbol=@symbol"
						   class="@(current == "~/Trade/Index" ? "nav-active" : "")">
							Trade
						</a>
					</li>

					<li>
						<a href="~/Trade/Orders?stockSymbol=@symbol"
						   class="@(current == "~/Trade/Orders" ? "nav-active" : "")">
							Orders
						</a>
					</li>

				</ul>
			</div>

			@RenderBody()
		</div>
	</div>
	@await RenderSectionAsync("scripts", required: false)
</body>
</html>
