<div class="box">
	<div>@ViewBag.StockName (@ViewBag.StockSymbol)</div>

	<div>@ViewBag.Quantity shares at  $@ViewBag.Price</div>

	<div>Trade Amount: @ViewBag.TradeAmount </div>
	<div>@ViewBag.DateAndTimeOfOrder</div>
</div>

