
@model Dictionary<string, string>
@{
    var stockPrice = ViewBag.stockPrice ?? 0.0;
}

@if (Model != null)
{
    <div class="stock-detail-card">
        <img class="stock-logo" src="@Model["logo"]" alt="@Model["ticker"] Logo" />
        <div class="stock-info">
            <h2>@Model["exchange"] (@Model["ticker"])</h2>
            <p class="industry">@Model["finnhubIndustry"]</p>
            <p class="exchange">Exchange: @Model["exchange"]</p>
            <p class="price">$ @stockPrice</p>
            <a class="button material-btn" href="@Url.Action("Index", "Trade", new { stockSymbol = Model["ticker"] })">
                <i class="fa-solid fa-arrow-trend-up"></i> Trade Now
            </a>
        </div>
    </div>
}